* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#imagem-perfil {
  width: 20rem;
  margin: 1rem auto;
  display: block;
  border-radius: 50%;
  padding: 3px;
  border: 4px solid grey;
}

#imagem-perfil:hover {
  border-radius: 10%;
}
